@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #0b0f1a;
  --bg-card: #111827;
  --bg-muted: #151c2f;

  --border-color: #1f2937;

  --text-main: #e5e7eb;
  --text-muted: #9ca3af;

  --accent: #3b82f6;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}
